/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/main/fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('assets/main/fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

 /* ############################################# Home page section begin #############################################  */


.d_text {
  color: #fff;
  font-family: "Roboto", sans-serif , serif;
  font-weight: 700;
}

.home {
  background: #27323E;
}

.custom_btn1 {
  width: 150px;
  height: 50px;
  background: linear-gradient(109deg, #FC4A1A -29.1%, #F7B733 97.76%);
  border-radius: 50px 50px 50px 0px;
}

.custom_btn1:hover {
  background: linear-gradient(109deg, #F7B733 -29.1%, #FC4A1A 97.76%);
  color: #fff;
}

.main_title {
  color: #fff;
  font-weight: 700;
  font-size: 72px;
}

.main_title_text {
  font-weight: 700;
  font-size: 22px;
}

.custom_btn {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(109deg, #FC4A1A -29.1%, #F7B733 97.76%);
}
.custom_btn:hover {
  background: linear-gradient(109deg, #F7B733 -29.1%, #FC4A1A 97.76%);
  color: #fff;
}

 /* ############################################# Home page section end ############################################# */

 /* ############################################# About page section begin ############################################# */
.about {
  background: #212529;
}

.about_title {
  font-weight: 700;
  font-size: 50x;
}

.about_title_text {
  font-weight:700;
  font-size:22px;
}


 /* ############################################# About page section end ############################################# */

 /* ############################################# Services page section begin ############################################# */
.services {
  background: #27323E;
}

 /* ############################################# Services page section end ############################################# */

 /* ############################################# Portfolio page section begin ############################################# */
.portfolio {
  background: #212529;
}


 /* ############################################# Portfolio page section end ############################################# */


 /* ############################################# Blogs page section begin ############################################# */
.blogs {
  background: #27323E;
}

.blog_imgs {
  transform: rotate(45deg);
}

 /* ############################################# Blogs page section end ############################################# */




